/*=====Google Fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*=====Custom CSS=====*/
:root {
    --header-font: font-family: 'Poppins',
        sans-serif;
}

/*=====Common CSS=====*/
.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

/*===========================
      Banner Part Start
=============================*/

.banner_part {
    background-color: #2D25A0;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner .banner_info {
    margin-top: 180px;
}

.banner .banner_info h1 {
    color: #FFFFFF;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin: 0;
}

.banner_btn {
    color: #FFFFFF;
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    margin-top: 27px;
}

.btn {
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
}

.btn span {
    margin-left: 5px;
}

.banner_img {
    margin-top: 150px;
    margin-bottom: 76px;
}

.banner_img img {
    width: 556px;
    height: 438px;
}