/*=====Google Fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*=====Custom CSS=====*/
:root {
    --header-font: font-family: 'Poppins',
        sans-serif;
}

/*=====Common CSS=====*/
.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

/*===========================
      Banner Part Start
=============================*/

.banner_part {
    background-color: #2D25A0;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner .banner_info {
    margin-top: 180px;
}

.banner .banner_info h1 {
    color: #FFFFFF;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin: 0;
}

.banner_btn {
    color: #FFFFFF;
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    margin-top: 27px;
}

.btn {
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
}

.btn span {
    margin-left: 5px;
}

.banner_img {
    margin-top: 150px;
    margin-bottom: 76px;
}

.banner_img img {
    width: 556px;
    height: 438px;
}

/*===========================
      Players Part Start
=============================*/
.players_part {
    margin-top: 70px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 23px;
}

.player {
    background-color: #FFFFFF;
    width: 330px;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.player .player_img img {
    width: 100%;
    height: 256px;
}

.player_info h2 {
    font-family: var(--header-font);
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
    margin: 16px 0 10px 0;
}

.player_info p {
    font-family: var(--header-font);
    font-style: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    color: #6C6C6C;
}

/*=================================
    Hightlight Part Start
===================================*/
.hightlight_part {
    margin-top: 165px;
}

.hl {
    display: flex;
    justify-content: space-between;
}

.hl_info h1 {
    font-family: var(--header-font);
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 8px;
}

.hl_info p {
    font-family: var(--header-font);
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #6C6C6C;
    margin: 0;
    max-width: 406px;
}

.hl_btn {
    color: #FFFFFF;
    margin-top: 24px;
    display: inline-block;
}

.hl_img img {
    width: 567px;
    height: 427px;
}